body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.h1{
    font-weight: bolder;
    text-align: center;
    margin: 20px auto;
}

.container{
    width: 80%;
    margin-top: 40px;

}

input{
    display: block;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 5px;
}